body {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#inspection-results {
    width: 100%;
    border-collapse: collapse;
}

#inspection-results th, #inspection-results td {
    border: 1px solid #333;
    padding: 5px;
}

#inspection-results th {
    background: #f3f3f3;
}

@media screen and (max-width: 600px) {
    #inspection-results {
        border: 0;
    }

    #inspection-results thead {
        display: none;
    }

    #inspection-results tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    #inspection-results td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    #inspection-results td::before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    #inspection-results td:last-child {
        border-bottom: 0;
        #inspection-results td:last-child {
            border-bottom: 0;
        }
    }
